<footer id="contact">
    <h3>Bharath Lakshman Kumar Bandi</h3>
    <hr>
    <a class="hover-fx" href="https://twitter.com/Bharath_uwu" target="_blank"
      ><i class="fab fa-twitter"></i>
    </a>
    <span class="vertical-line"></span>
    <a
      class="hover-fx"
      href="https://www.linkedin.com/in/bharath-lakshman-9a9898239/"
      target="_blank"
      ><i class="fab fa-linkedin"></i>
    </a>
    <span class="vertical-line"></span>
    <a
      class="hover-fx"
      href="https://www.facebook.com/Kxneki999/"
      target="_blank"
      ><i class="fab fa-facebook"></i>
    </a>
  </footer>
</main>
  <script
    src="https://kit.fontawesome.com/6319e2df69.js"
    crossorigin="anonymous">
  </script>
  <script src="https://cdn.blobity.dev/by.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="JS/index.js"></script>
</body>
</html>