<footer id="contact">
  <div class="extra">
    <p>Built From Scratch By Me :)</p>
  </div>
  <div class="header">
    <h3>Bharath Lakshman Kumar</h3>
  </div>
  <div class="container">
    <a class="hover-fx" href="https://twitter.com/Bharath_uwu" target="_blank" data-blobity-tooltip="Twitter">
      <i class="fab fa-twitter"></i>
    </a>
    <a class="hover-fx" href="https://www.linkedin.com/in/bharath-lakshman-9a9898239/" target="_blank"
      data-blobity-tooltip="LinkedIn">
      <i class="fab fa-linkedin"></i>
    </a>
    <a class="hover-fx" href="https://www.facebook.com/Kxneki999/" target="_blank" data-blobity-tooltip="Facebook">
      <i class="fab fa-facebook"></i>
    </a>
    <a class="hover-fx" href="https://github.com/BharathxD" target="_blank" data-blobity-tooltip="Github">
      <i class="fab fa-github"></i>
    </a>
  </div>
</footer>
<script src="https://kit.fontawesome.com/6319e2df69.js" crossorigin="anonymous">
</script>
<script src="https://cdn.blobity.dev/by.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://min30327.github.io/luxy.js/dist/js/luxy.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script src="JS/index.js"></script>
</body>

</html>