@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&family=Poppins:wght@100;300;400;500;600;700&display=swap");

/* Minified CSS Reset */

*,
::after,
::before {
  box-sizing: border-box;
}

*,
body {
  padding: 0;
  margin: 0;
}

*,
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

* {
  scroll-behavior: smooth;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #000;
  font-family: poppins, sans-serif;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::after,
  ::before {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */

::-webkit-scrollbar {
  display: none;
}

*::selection {
  text-shadow: 0 0 6px #f2f2f2, 0 0 20px rgb(206 201 201 / 42%);
}

/* Scroll Transitions */

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-right {
  animation: fade-bottom 1s ease-in;
}

.active.fade-bottom-h {
  animation: fade-bottom-xl 3s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-bottom-xl {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}

/* --------------- */
/* Progress Bar Fixed at Top */

.progressContainer {
  left: 0;
  width: 100%;
  height: 1px;
  margin-bottom: 0px;
  position: fixed;
  top: 0px;
  overflow: hidden;
  z-index: 100000;
  background-color: transparent;
  content: "";
  display: table;
  table-layout: fixed;
}

.progressBar {
  width: 0%;
  float: left;
  height: 1px;
  z-index: 99;
  max-width: 100%;
  background-color: #eedb00;
  border-radius: 20px;
}

/* -------------  */
/* Navigation Bar */

nav {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.9rem;
  backdrop-filter: blur(15px);
  display: inline-block;
  width: max-content;
  position: fixed;
  left: 50%;
  z-index: 2000;
  padding: 1.8rem 0;
  bottom: 1rem;
  overflow: hidden;
  transform: translateX(-50%);
  opacity: 1 !important;
  animation: AnimOneNav 3s ease;

  @keyframes AnimOneNav {
    0% {
      opacity: 0;
    }

    25% {
      opacity: 1;
    }
  }

  /* Home Tab */
  .anchor-a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-top-left-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    background: transparent;
    padding: 1.82rem 1rem 1.82rem 1.8rem;
    margin-left: 0;
  }

  /* About Tab */
  .anchor-b {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    padding: 1.82rem 1rem;
    margin: 0;
  }

  /* Work Tab */
  .anchor-c {
    display: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    padding: 1.82rem 2rem;
    margin: 0;
  }

  /* Contact Tab */
  .anchor-d {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-top-right-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    background: transparent;
    padding: 1.82rem 1rem 1.82rem 1rem;
    margin-right: 0;
  }

  @media (hover: hover) {

    .anchor-a:hover,
    .anchor-b:hover,
    .anchor-c:hover,
    .anchor-d:hover {
      background-color: rgba(246, 246, 246, 0.3);
    }
  }
}

/* ------------ */
/* Hero Section */

.section-1 {
  min-height: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  background-color: rgb(27, 27, 27);
  padding: 10px;
  padding-top: 0;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  background-image: url(/img/filter-2.jpg);
  animation: AnimOne 3s ease;

  @keyframes AnimOne {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .marquee {
    position: absolute;
    right: 10px;
    left: 10px;
    top: 20px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;

    span {
      display: inline-block;
      padding-left: 100%;
      font-size: 1rem;
      word-spacing: 20px;
      white-space: nowrap;
      color: rgb(253, 253, 82);
      animation: marquee 20s linear infinite;
      animation-delay: 0s;

      @keyframes marquee {
        0% {
          transform: translate3d(0, 0, 0);
        }

        100% {
          transform: translate3d(-50%, 0, 0);
        }
      }
    }
  }

  .marquee-l {
    position: absolute;
    right: 10px;
    left: 10px;
    bottom: 20px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;

    span {
      display: inline-block;
      padding-left: 100%;
      font-size: 1rem;
      word-spacing: 20px;
      white-space: nowrap;
      color: rgb(253, 253, 82);
      animation: marquee 20s linear infinite;
      animation-delay: 0s;

      @keyframes marquee {
        0% {
          transform: translate3d(0, 0, 0);
        }

        100% {
          transform: translate3d(-50%, 0, 0);
        }
      }
    }
  }

  .container {
    border-radius: 20px;
    text-align: center;
    font-weight: 900;

    span {
      font-size: 12vw;
      color: #000;
      -webkit-text-stroke: 1px rgb(253, 253, 82);
    }

    h1 {
      font-size: 5rem;
      font-family: "Poppins", sans-serif;
      line-height: 0.99;
      color: rgb(253, 253, 82);
      margin: 0;
    }
  }
}

/* ------------- */
/* About Section */

#about {
  height: 100%;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: rgb(27, 27, 27);
  border-top: 1px solid #eeda006b;

  h1 {
    position: absolute;
    z-index: 0;
    color: rgb(253, 253, 82);
    opacity: 0.5;
    letter-spacing: 40px;
    text-align: center;
    font-size: 20rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
  }

  .container {
    display: grid;
    grid-template-columns: auto;
    margin: 2em 2em;
    align-items: center;
    gap: 3rem;

    .img {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        border-radius: 15px;
        height: auto;
        width: 50%;
        z-index: 1;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
      }
    }

    .text {
      font-family: "Poppins", sans-serif;
      color: #f2f2f2;
      margin: 0;
      padding: 10px;
      text-align: left;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      backdrop-filter: blur(20px);
      border: 2px solid rgba(255, 255, 255, 0.1);
      background: rgb(0, 0, 0);
      background: linear-gradient(180deg,
          rgba(0, 0, 0, 0.7553615196078431) 10%,
          rgba(0, 0, 0, 0.9) 15%);
      box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);

      p {
        font-weight: 300;
        width: 100%;
        font-size: 1.25rem;

        a {
          color: #eedb00;
          text-decoration: none;
        }

        .utils {
          margin-bottom: 20px;
          font-size: 1.1rem;

          span {
            font-size: 1.15rem;
          }
        }

        i {
          color: #eedb00;
        }
      }
    }
  }
}

/* ---------------- */
/* Skills Section */

#skills {
  min-height: 100%;
  height: 100%; //min-content
  position: relative;
  background-color: rgb(22, 22, 22);
  padding: 0; // 20px
  padding-bottom: 40px;
  z-index: -1;
  .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; // 1fr 1fr
    grid-template-rows: 400px 1fr; // 400px 1fr
    column-gap: 25px;
    font-size: 1.75vw;
    color: #f5f5f5;
    border-radius: 25px;
    font-weight: 400;
    padding: 20px;
    .content {
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      width: 300px;
    }

    .header {
      grid-template-columns: auto; // 1fr 1fr
      font-size: 15vw; // 8vw
      grid-column: 1 / span 3;
      display: grid;
      align-items: center;
      color: #f5f5f5;
      font-weight: 700;
      opacity: 1;
      text-align: center;
      width: 100%;
      justify-content: center;
      position: relative;
      .skill {
        // none
        font-size: auto;
        margin: auto;
      }

      .background-text {
        position: absolute;
        z-index: -1;
        -webkit-text-stroke: 1px #fff;
        opacity: 0.4;
        top: 0;
        left: 5vw;
        color: rgba(255, 255, 255, 0.375);
        font-size: 30vw; //15vw
        font-weight: 900;
      }

      .content {
        height: 100%;
        font-size: 1rem; //1.5rem
        font-weight: 400;
        width: 100%;
        text-align: center;

        p {
          border-radius: 25px;
          background-color: rgba(255, 255, 255, 0.343);
          padding: 10px; //20px
        }
      }
    }

    /* -------- */
    /* Frontend */

    .frontend {
      display: flex;
      grid-column: span 2; // none
      flex-direction: column;
      padding: 20px; // none
      align-items: center;

      h1 {
        margin-bottom: 20px;
        font-size: 2rem; // none
      }

      span {
        margin-bottom: 0px;

        p {
          margin: 20px 10px;
          font-size: 1rem; // 1.25rem
        }
      }

      /* HTML */
      .html {
        p {
          margin: 10px;
        }

        .progress-value {
          animation: html 3s normal forwards;
        }

        @keyframes html {
          0% {
            width: 0;
          }

          100% {
            width: 95%;
          }
        }
      }

      /* CSS */
      .css {
        .progress-value {
          animation: css 3s normal forwards;
        }

        @keyframes css {
          0% {
            width: 0;
          }

          100% {
            width: 90%;
          }
        }
      }

      /* JS */
      .js {
        .progress-value {
          animation: js 3s normal forwards;
        }

        @keyframes js {
          0% {
            width: 0;
          }

          100% {
            width: 80%;
          }
        }
      }

      /* Bootstrap */
      .bootstrap {
        .progress-value {
          animation: btsp 3s normal forwards;
        }

        @keyframes btsp {
          0% {
            width: 0;
          }

          100% {
            width: 78%;
          }
        }
      }

      /* React */
      .react {
        .progress-value {
          animation: react 3s normal forwards;
        }

        @keyframes react {
          0% {
            width: 0;
          }

          100% {
            width: 80%;
          }
        }
      }

      .jquery {
        .progress-value {
          animation: jquery 3s normal forwards;
        }

        @keyframes jquery {
          0% {
            width: 0;
          }

          100% {
            width: 85%;
          }
        }
      }
    }

    /* ------- */
    /* Backend */

    .backend {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px; // none
      grid-column: span 2; // none

      h1 {
        margin-bottom: 0; //20px
        font-size: 2rem; // none
      }

      span {
        p {
          margin: 20px 10px;
          font-size: 1rem; // 1.25rem
        }
      }

      .nodejs {
        .progress-value {
          animation: btsp 3s normal forwards;
        }

        @keyframes btsp {
          0% {
            width: 0;
          }

          100% {
            width: 95%;
          }
        }
      }

      .mongodb {
        .progress-value {
          animation: mongodb 3s normal forwards;
        }

        @keyframes mongodb {
          0% {
            width: 0;
          }

          100% {
            width: 85%;
          }
        }
      }

      .rest {
        .progress-value {
          animation: rest 3s normal forwards;
        }

        @keyframes rest {
          0% {
            width: 0;
          }

          100% {
            width: 70%;
          }
        }
      }

      .git {
        .progress-value {
          animation: git 3s normal forwards;
        }

        @keyframes git {
          0% {
            width: 0;
          }

          100% {
            width: 80%;
          }
        }
      }

      .c {
        p {
          margin: 10px;
        }

        .progress-value {
          animation: c 3s normal forwards;
        }

        @keyframes c {
          0% {
            width: 0;
          }

          100% {
            width: 98%;
          }
        }
      }

      .java {
        .progress-value {
          animation: java 3s normal forwards;
        }

        @keyframes java {
          0% {
            width: 0;
          }

          100% {
            width: 90%;
          }
        }
      }

      .mad {
        .progress {
          margin-right: 0 !important;
        }

        .progress-value {
          animation: mad 3s normal forwards;
        }

        @keyframes mad {
          0% {
            width: 0;
          }

          100% {
            width: 75%;
          }
        }
      }
    }

    .progress {
      background: rgba(255, 255, 255, 0.1);
      justify-content: flex-start;
      border-radius: 100px;
      align-items: center;
      position: relative;
      padding: 0 5px;
      display: flex;
      height: 20px; //40px
      width: 300px; //500px
    }

    .progress-value {
      animation: load 3s normal forwards;
      border-radius: 100px;
      background: #fff;
      height: 20px; // 30px
      width: 0;
    }

    @keyframes load {
      0% {
        width: 0;
      }

      100% {
        width: 68%;
      }
    }
  }
}

/* ---------------- */
/* Projects Section */

#test {
  min-height: 100%;
  background: rgb(33, 33, 33);
  padding: 20px 0;

  .container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 30px;

    .back_text {
      display: flex;
      width: 100%;
      height: 80%;
      position: absolute;
      z-index: 0;
      justify-content: center;
      align-items: center;
      text-align: center;

      span {
        position: absolute;
        z-index: 0;
        font-size: 16rem;
        color: #fff;
        opacity: 0.25 !important;
        font-weight: 700;
      }
    }

    .content {
      font-size: 1rem; //
      color: #f5f5f5;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-radius: 25px;
      margin: 20px;
      padding: 1rem;

      h1 {
        display: inline-block;
        width: 100%;
        margin: 20px auto;
        font-size: 3rem;
        color: transparent;
        -webkit-text-stroke: 2px #eedb00;
        letter-spacing: 2.5px;
      }

      a {
        margin: 10px 0;
        text-decoration: none;
        font-size: 1.25rem;
        color: #eedb00;
        width: max-content;
        z-index: 1;
      }

      p {
        font-size: 1.5rem;
        font-weight: 300;
        z-index: 1;
      }

      .github {
        font-size: 1.75rem;
        color: #fff;
      }
    }

    .video {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      img {
        border-radius: 20px;
        height: 500px;
      }
    }
  }
}

/* --------------- */
/* Contact Section */

#contact {
  height: 100%;

  .container {
    background: rgb(23, 23, 23);
    position: relative;
    height: 100%;
    min-height: max-content;
    padding: 2rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    row-gap: 30px;

    .form {
      min-width: 100%;
      border: 2px solid rgba(255, 255, 255, 0.1);
      width: 1000px;
      max-width: 820px;
      min-height: 100%;
      height: max-content;
      border-radius: 10px;
      box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
      z-index: 1000;
      overflow: hidden;
      max-width: 100px;

      .contact-form {
        backdrop-filter: blur(10px);
        position: relative;
        text-align: center;
        overflow: scroll;
        min-height: 100%;
        height: 100%;

        form {
          padding: 2.3rem 2.2rem;
          z-index: 10;
          overflow: hidden;
          position: relative;
        }

        .title {
          color: #fff;
          font-weight: 500;
          font-size: 2rem;
          line-height: 1;
          margin-bottom: 2rem;
        }

        .input-container {
          position: relative;
          margin: 1rem 0;

          label {
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            padding: 0 0.4rem;
            color: #fafafa;
            font-size: 1.15rem;
            font-weight: 400;
            pointer-events: none;
            z-index: 1000;
            transition: 0.5s;
          }

          span {
            position: absolute;
            top: 0;
            left: 25px;
            transform: translateY(-50%);
            font-size: 0.8rem;
            padding: 0 0.4rem;
            color: transparent;
            pointer-events: none;
            z-index: 500;

            &:before {
              content: "";
              position: absolute;
              width: 10%;
              opacity: 0;
              transition: 0.3s;
              height: 5px;
              background-color: #000;
              top: 50%;
              transform: translateY(-50%);
              left: 50%;
            }

            &:after {
              content: "";
              position: absolute;
              width: 10%;
              opacity: 0;
              transition: 0.3s;
              height: 5px;
              background-color: #000;
              top: 50%;
              transform: translateY(-50%);
              right: 50%;
            }
          }
        }

        .input {
          width: 100%;
          outline: none;
          border: 2px solid #fafafa;
          background: none;
          padding: 0.6rem 1.2rem;
          color: #fafafa;
          font-weight: 500;
          font-size: 0.9rem;
          letter-spacing: 0.5px;
          border-radius: 25px;
          transition: 0.3s;
        }

        textarea.input {
          padding: 0.8rem 1.2rem;
          min-height: 150px;
          border-radius: 22px;
          resize: none;
          overflow-y: auto;
        }

        .input-container.textarea {
          label {
            top: 1rem;
            transform: translateY(0);
          }
        }

        .btn {
          padding: 0.6rem 1.3rem;
          background-color: #eedb00;
          border: 2px solid #eedb00;
          font-size: 1.25rem;
          color: #000;
          line-height: 1;
          border-radius: 25px;
          outline: none;
          cursor: pointer;
          transition: 0.3s;
          margin: auto 10px;

          &:hover {
            background-color: transparent;
            border-radius: 10px;
            color: #fff;
          }
        }

        .input-container.focus {
          label {
            top: 0;
            transform: translateY(-50%);
            left: 25px;
            font-size: 0.8rem;
          }

          span {
            &:before {
              width: 50%;
              opacity: 1;
            }

            &:after {
              width: 50%;
              opacity: 1;
            }
          }
        }
      }
    }

    // Location, Mail Address, Mobile

    .contact_container {
      background-color: transparent;
      border-radius: 10px;
      height: 100%;
      font-size: 1rem;
      font-weight: 400 !important;
      width: 100%;
      max-width: 100%;
      color: #f2f2f2;
      padding: 30px;
      backdrop-filter: blur(30px);
      border: 2px solid rgba(255, 255, 255, 0.1);
      box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
      display: grid;
      justify-content: space-between;

      .content {
        h1 {
          font-size: 2rem;
          font-weight: 600;
          line-height: 1;

          span {
            font-size: 3rem;
            position: relative;
          }
        }

        p {
          font-weight: 400;
          font-size: 1.35rem;
          margin: 10px auto;
        }
      }

      .lists {
        display: grid;
        justify-content: start;
        align-items: center;

        ul {
          list-style-type: none;

          li {
            margin: 20px 0;
            font-size: 1rem;
            border: 1px solid #eedb00;
            background-color: #eedb00;
            width: fit-content;
            padding: 7.5px;
            color: #000;
            border-radius: 30px;
            transition: 0.5s;
            display: flex;
            align-items: center;

            &:hover {
              border-color: #fff;
              border-radius: 10px;
              background-color: transparent;
              color: #fff;

              a {
                color: #fff;
              }
            }

            i {
              font-size: 1.5rem;
              margin-right: 5px;
              margin-bottom: 0;
              margin-left: 5px;
            }

            a {
              text-decoration: none;
              color: #000;
              margin-right: 5px;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

/* -------------- */
/* FOOTER SECTION */

footer {
  backdrop-filter: blur(30px);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  background-color: rgb(24, 24, 24);
  padding: 2rem 0;
  text-align: center;
  font-size: 0.9em;
  margin-top: 7rem 0 0 0;
  bottom: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  padding-bottom: 125px;
  position: relative;

  h3 {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.125rem;
    text-align: center;
    color: rgb(230, 230, 230);
    padding-bottom: 2rem;
  }

  /* Footer Elements */
  a {
    font-size: 2rem;
    color: rgb(193, 193, 193);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }

  hr {
    margin-bottom: 30px;
    border-color: rgb(144, 144, 144);
    border-top: 1px solid #3a4553;
    width: 200px;
    margin: auto;
    margin-bottom: 2rem;
  }

  span {
    border-right: solid #636363 1px;
    height: 20px;
    margin-top: 1.25vh;
    width: auto;
    position: absolute;
    cursor: default;
  }
}

/* --------------------- */
/* ------ Desktop ------ */
/* Minimum Width 1068px */

@media screen and (min-width: 1068px) {
  /* Animation Reset */

  .active.fade-right {
    animation: fade-right 1s ease-in;
  }

  @keyframes fade-right {
    0% {
      transform: translateX(50px);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .active.fade-left {
    animation: fade-left 1.5s ease-in;
  }

  @keyframes fade-left {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }

    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  /* -------------- */
  /* Navigation Bar */

  nav {
    bottom: 2rem;

    .anchor-a {
      padding: 1.82rem 3rem 1.82rem 4rem;
    }

    .anchor-a:hover {
      background-color: none;
    }

    .anchor-b {
      padding: 1.82rem 3rem;
    }

    .anchor-b:hover {
      background-color: none;
    }

    .anchor-c {
      display: inline;
      padding: 1.82rem 3rem;
    }

    .anchor-c:hover {
      background-color: none;
    }

    .anchor-d {
      padding: 1.82rem 4rem 1.82rem 3rem;
    }

    .anchor-d:hover {
      background-color: none;
    }
  }

  /* ------------ */
  /* Hero Section */

  .section-1 {
    min-height: 100% !important;
    height: 100vh;

    .marquee {
      right: 0;
      top: 0;

      span {
        font-size: 1.5rem;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        animation: none;
        margin-left: -10px;
        transform: translate(-2%);
      }
    }

    .marquee-l {
      right: 0;
      top: 0;

      span {
        font-size: 1.5rem;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        animation: none;
        margin-right: 20px;
        transform: translate(-98%);
        // transform: translate(2%);
      }
    }

    .container {
      padding: 0;
      position: relative;
      text-align: left;

      h1 {
        text-align: left;
        font-size: 13vw;
        line-height: 1;
        margin: 0 !important;
        position: relative;
      }

      span {
        -webkit-text-stroke: 5px rgb(253, 253, 82);
        font-size: 9vw;
        padding: 0;
        position: relative;
      }
    }
  }

  /* ------------- */
  /* About Section */

  #about {
    min-height: 100vh;
    height: 100%;
    padding: 10px;

    h1 {
      text-align: center;
      font-size: 19vw;
      letter-spacing: 100px;
      margin: 0;
      text-indent: 100px;
    }

    .container {
      grid-template-columns: repeat(2, 1fr);
      margin: 10px 10px;
      row-gap: 3rem;

      .img {
        height: min-content;

        img {
          height: 29.25vw;
          width: auto;
        }
      }

      .title {
        grid-column-end: span 2;
        letter-spacing: 5px;
        font-size: 2rem;
      }

      .text {
        padding: 20px;
        text-align: left;
        height: min-content;

        p {
          font-size: 1.5vw;

          .utils {
            font-size: 1.5rem;

            span {
              font-size: 1.5rem;
            }
          }

          i {
            font-size: 1.75rem;
          }
        }
      }
    }
  }

  /* -------------- */
  /* Skills Section */

#skills {
    height: min-content;
    padding-bottom: 40px;
    .container {
      grid-template-columns: repeat(2, 1fr) !important; // 1fr 1fr
      grid-template-rows: 400px 1fr !important; // 400px 1fr
      .header {
        grid-template-columns: 1fr 1fr; 
        font-size: 8vw;
        grid-column: span 2;
        position: relative;
        .skill {
          font-size: 8vw;
        }
        .background-text {
          top: auto;
          left: 4vw; // 6%
          font-size: 15vw;
        }
        .content {
          font-size: 1.5rem;
          p {
          padding: 20px;
          }
        }
      }
  
      /* -------- */
      /* Frontend */
  
      .frontend {
        grid-column: inherit;
        h1 {
          margin-bottom: 20px;
        }
        span {
          margin-bottom: 0px;
          p {
            margin: 20px 10px;
            font-size: 1.25rem;
          }
        }
      }
  
      /* ------- */
      /* Backend */
  
      .backend {
        grid-column: inherit;
        h1 {
          margin-bottom: 20px;
        }
        span {
            p {
              margin: 20px 10px;
              font-size: 1.25rem;
            }
        }
      }

      .progress {
        height: 40px;
        width: 500px;
      }
      .progress-value {
        height: 30px;
      }
    }
  }
  /* ---------------- */
  /* Projects Section */

  #test {
    .container {
      grid-template-columns: auto min-content;
      padding: 40px 20px;
      position: relative;

      .back_text {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        justify-content: center;
        align-items: center;
        text-align: center;

        span {
          position: absolute;
          z-index: 0;
          font-size: 30rem;
          color: #fff;
          opacity: 0.25;
          font-weight: 700;
          padding: 0;
        }
      }

      .content {
        width: 100%;
        padding: 5rem;

        h1 {
          font-size: 4rem;
        }

        p {
          font-size: 2rem;
          z-index: 1;

          a {
            font-size: 1rem;
          }
        }

        .github {
          font-size: 2rem;
          color: #fff;
        }
      }

      .video {
        width: 400px;
        margin: auto 5rem;

        img {
          height: 700px;
        }
      }
    }
  }

  /* --------------- */
  /* Contact Section */

  #contact {
    .container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;

      .contact_container {
        padding: 20px;

        .content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-content: center;
          align-items: center;

          h1 {
            font-size: 3vw;
            line-height: 1;
            margin-left: 10px;

            span {
              font-size: 6vw;
            }
          }

          p {
            font-size: 1.4vw;
          }
        }

        .lists {
          border: 2px solid rgba(255, 255, 255, 0.1);
          border-radius: 25px;
          padding: 20px;

          ul {
            align-items: center;
            justify-items: start;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            position: relative;

            li {
              height: max-content;
              width: max-content;
              min-width: 90%;
            }
          }

          ul::before {
            content: "~~~~○";
            font-size: 3.5rem;
            opacity: 0.5;
            color: #fff;
            position: absolute;
            top: -65px;
          }

          ul::after {
            content: "○~~~~";
            font-size: 4rem;
            opacity: 0.5;
            color: #fff;
            position: absolute;
            bottom: -65px;
            right: 20px;
          }
        }
      }
    }
  }

  /* ------ */
  /* Footer */

  footer {
    margin: auto 0 auto 0;
    padding-bottom: 9rem;
    background-color: rgb(24, 24, 24);
    border-top: 2px solid rgba(255, 255, 255, 0.1);

    a {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    hr {
      width: 500px;
    }
  }
}

/* iPhone 10r 414 * 596 */

@media screen and (max-height: 414px) {
  body {
    font-size: 1rem;
  }

  .section-1 {
    h1 {
      margin-top: 50%;
    }
  }

  #test {
    .container {
      .back_text {
        span {
          font-size: 1rem;
        }
      }

      .video {
        width: 400px;
        margin: auto 5rem;

        img {
          height: 400px;
        }
      }
    }
  }
}

/* ------------------- */
/* ----- Mobile ----- */
/* Minimum Width 368px */

@media screen and (max-width: 368px) {
  #contact {
    .container {
      .form {
        .contact-form {
          #btn_2 {
            display: none;
          }
        }
      }
    }
  }
}

/* ------------------- */
/* ----- Mobile ----- */
/* Minimum Width 368px */

@media screen and (max-width: 360px) {
  /* -------------- */
  /* Navigation Bar */

  nav {
    display: none;
  }

  /* --------------- */
  /* Hero Section */

  .section-1 {
    .container {
      span {
        color: #000;
        -webkit-text-stroke: 0.5px rgb(253, 253, 82);
      }

      h1 {
        font-size: 20vw;
      }
    }
  }

  /* --------------- */
  /* About Section */

  #about {
    h1 {
      font-size: 15rem;
    }

    .container {
      .text {
        p {
          font-size: 1rem;
        }
      }
    }
  }

  /* --------------- */

  #skills {
    .container {
      .header {
        .background-text {
          top: 2.5%;
        }
      }

      .progress {
        width: 250px;
      }
    }
  }

  /* Project Section */

  #test {
    .container {
      .back_text {
        span {
          font-size: 10rem;
        }
      }

      .content {
        h1 {
          font-size: 2rem;
        }

        p {
          font-size: 1rem;

          span {
            font-size: 1.25rem;
          }
        }
      }

      .video {
        img {
          height: 400px !important;
        }
      }
    }
  }

  /* --------------- */
  /* Contact Section */

  #contact {
    .container {
      .contact_container {
        .content {
          h1 {
            font-size: 1.25rem;
          }

          p {
            font-size: 1rem;
          }
        }

        .lists {
          ul {
            padding: 0;

            li {
              i {
                font-size: 1rem;
                margin: 0;
              }

              a {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }

  /* -------------- */
  /* Footer Section */

  footer {
    padding: 20px;

    h3 {
      font-size: 1rem;
      padding-bottom: 20px;
    }

    hr {
      margin-bottom: 10px;
      width: 150px;
    }

    a {
      font-size: 1.5rem;
      display: block;
      margin: 10px;
      display: inline-block;
    }

    .vertical-line {
      display: none;
    }
  }

  /* --------------- */
}